@using System.Collections.Generic;
@using TRUCKMANAGEMENT.Models.ViewModels;

@model  List<MagazzinoViewModel>    
    <h1><i class="fas fa-clipboard-list">Magazzino ricambi</i></h1>
   
   @foreach(MagazzinoViewModel mag in Model)
   {
  <hr>
    <div class="row">        
        <div class="col-md1">
            <h4>@mag.IdMagazzino</h4>
        </div>
        <div class="col-md2">
            <h4>@mag.NomeArticolo</h4>
        </div>
        <div class="col-md1">
            <h4>@mag.CodiceArticolo</h4>
        </div>
        
        <div class="col-md4">
            <h4>@mag.NomeFornitore</h4>
        </div>
        <div class="col-md1">
            <h4>@mag.Quantita</h4>
        </div>
        <div class="col-md1">
            <h4>@mag.QuantitaMin</h4>
        </div>
         <div class="col-md1">
            <h4>@mag.PrezzoUnitario</h4>
        </div>
        <div class="col-md1">
            <a class="btn btn-outline-primary" asp-action="Detail" asp-area="" asp-controller="Magazzino" asp-route-id="@mag.IdMagazzino">Dettaglio</a>
        </div>
    </div>
   } 